<div class="posts_main_wrapper">
  <div class="post_main_bg"></div>
  <div class="paginate-controls-wrapper">
    <pagination-controls (pageChange)="page = $event"
                         autoHide="true"
                         maxSize="5"></pagination-controls>
  </div>
  <div class="posts" *ngIf="postList; else noPosts">
    <mat-card *ngFor="let card of postList">
      <mat-card-header>
        <mat-card-title>{{card.uName}}</mat-card-title>
        <mat-card-subtitle>{{card.date}}</mat-card-subtitle>
      </mat-card-header>
      <div
        class="card-image"
        [ngStyle]="{'background-image': 'url(\'' + card.coverPhoto +  '\')'}"
        *ngFor="let url of card.photo | paginate:
      { itemsPerPage: 5,
        currentPage: page,
        totalItems: totalLength
        }"></div>
      <mat-card-content>
        <div class="card-description">{{card.description}}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"
                [routerLink]="['/post/' + card.id]">SEE POST</button>
        <button mat-raised-button color="primary"
                [routerLink]="['/edit/' + card.id]"
                *ngIf="card.uid === authService.userData.uid">EDIT POST</button>
        <button mat-raised-button color="warn"
                *ngIf="card.uid === authService.userData.uid"
                (click)="baseService.deletePost(card.uid, card.id)">DELETE POST</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <ng-template #noPosts>
    <div class="empty_posts_message">You have no uploaded posts at the moment.</div>
  </ng-template>


</div>

