.home_main{
  position: relative;
  height: 100%;
  overflow: auto;
  padding: 0 10px;
}
.about_block{
  display: flex;
  flex-direction: column;
}
.user_greeting{
  text-align: center;
}
.user_greeting-text{
  font-size: 25px;
  margin-top: 20px;
  span{
    font-weight: bold;
  }
}
.about{
  font-size: 20px;
  span{
    font-weight: bold;
    color:rgb(41, 57, 186);
    text-decoration: underline;
    cursor: pointer;
  }
}
